<template>
    <div>
        <input :id="id"
               v-model="input.value"
               :class="[this.input.class, {'is-invalid' : this.input.error.result}]"
               name="email"
               type="email"
               @input="validate()"
        />
        <span class="invalid-feedback" role="alert">
            <strong>{{ this.input.error.message }}</strong>
        </span>
    </div>

</template>

<script>
export default {
    props: {
        id: {
            type: String,
            required: true,
            default: 'email'
        },
        class: {
            type: String,
            required: true,
            default: ''
        },
        value: {
            type: String,
            required: true,
            default: ''
        },
        error: {
            type: String,
            required: false
        },
    },
    data() {
        return {
            input: {
                class: '',
                value: '',
                error: {
                    result: false,
                    message: ''
                },
            },
        }
    },
    methods: {
        validate() {
            if (this.input.value) {
                if (!this.validEmail(this.input.value)) {
                    return this.validationError('이메일 형식이 아닙니다. 확인해주세요.');
                }
            }

            this.clearErrorAlter();
        },
        clearErrorAlter() {
            this.input.error.result = false
        },
        validationError(message) {
            this.input.error.result = true;
            this.input.error.message = message;
        },
        validEmail: function (email) {
            const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
    },
    mounted() {
        this.input.value = this.value;
        this.input.class = this.class;

        if (this.error) {
            this.input.error.result = true;
            this.input.error.message = this.error;
        }

    }
}
</script>
